<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(pageTitle='Home')">
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <h1>Groovy</h1>
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Code</h4></div>
            <div class="panel-body">
                <form th:action="@{/}" method="POST" role="form">
                    <div class="form-group">
                        <textarea rows="15" id="sourceCode" name="sourceCode" class="form-control" th:text="${sourceCode}"></textarea>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <b>Output:</b>
                <div id="outputContainer" th:if="${output != null}" th:text="${output != null}? ${output}" th:classappend="${error != null and error}? 'bg-danger' : 'bg-success'"></div>
            </div>
        </div>
    </body>
</html>